.idea
*.log
*.swp
node_modules
coverage
out
.enb/tmp
static/lego
static/*.bundles/*/*.css
static/*.bundles/*/*.ie8.css
static/*.bundles/*/*.ie9.css
static/*.bundles/*/*.*.bh.js
static/*.bundles/*/*.*.js
static/*.bundles/*/*.*.priv.js
static/*.bundles/*/tmp
!static/*.bundles/*/*.bemdecl.js
static/*.bundles/*/*.httpclient.bemdecl.js
static/*.bundles/*/public
static/*.bundles/*/i18n-public.*
static/*.bundles/*/i18n-static.*
static/.enb/tmp
